/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}


:root {
    --theme-font-family-base: 'IBM Plex Sans KR', sans-serif;
    --theme-font-family-heading: 'IBM Plex Sans KR', sans-serif;
}
